In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [4]:
for element in l:
    print 'something'

something
something
something
something
something

In [5]:
# Modulo

In [6]:
10 % 3

1

In [7]:
18 % 7

4

In [8]:
4 % 2

0

In [9]:
l

[1, 2, 3, 4, 5]

In [13]:
for num in l:
    if num % 2 == 0:
        print 'Here is an even'
    else:
        print 'Odd number!'

Odd number!
Here is an even
Odd number!
Here is an even
Odd number!

In [14]:
l

[1, 2, 3, 4, 5]

In [17]:
list_sum = 0

for num in l:
    list_sum += num
    
print list_sum

15

In [18]:
s = 'this is a string!'

In [20]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [21]:
tup = (1,2,3,4,5)

In [22]:
for t in tup:
    print t

1
2
3
4
5

In [23]:
l = [(2,4),(6,8),(10,12)]

In [24]:
l

[(2, 4), (6, 8), (10, 12)]

In [25]:
l[0]

(2, 4)

In [26]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [29]:
for (t1,t2) in l:
    print t1 + t2

6
14
22

In [30]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [31]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [33]:
for item in d:
    print item

k3
k2
k1

In [34]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1